*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--font-color);
}

:root {
    --main-border-color: rgb(207, 223, 236);
    --border-color: rgb(208, 207, 207);
    --font-color: rgb(47, 43, 43);
    --font-light-color: grey;
    --backgroung-color: rgb(226, 237, 245);
    --popup-footer-color:  rgb(50, 72, 88);
    --error-color: rgb(154, 34, 34);
}

p,b:not([class]) {
    color: inherit;
}

th,td:not([class]){
    text-align: inherit;
    font-size: inherit;
}

li {
    list-style-type: none;
}

.container {
    display: flex;
}

.stores-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    min-width: 300px;
    max-height: 100vh;
    border-right: 1px solid var(--border-color);
}

.stores-list__header {
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 2;
    padding: 10px 20px;
    background-color: var(--backgroung-color);
}

.stores-list__header-title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
}

.stores-list__searchbar-wrapper {
    padding: 65px 20px 10px;
    background-color: var(--backgroung-color);
    border-bottom: 2px solid var(--main-border-color);
    position: relative;
}

.stores-list__header-searchbar {
    position: relative;
    padding-bottom: 15px;
}

.stores-list__header-input {
    width: 100%;
    padding: 10px 52px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.stores-list__header-input::placeholder {
    font-style: italic;
    font-size: 13px;
}

.input-button__search {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 32px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.input-button__search-active {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 10px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.input-button__refresh {
    height: 17px;
    width: 17px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 10px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.input-button__clear{
    height: 19px;
    width: 19px;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    right: 32px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.stores-list__collapse-section {
    display: flex;
    gap: 0.2rem;
    position: absolute;
    bottom: -10px;
    width: 100%;
    justify-content: center;
    z-index: 1;
    left: 0;
}

.stores-list__collapse-button{
    padding: 2px 6px;
    border:none;
    border-radius: 3px;
    background-color: var(--main-border-color);
    cursor: pointer;
}

.stores-list__collapse-button > img {
    height: 15px;
    width: 15px;
}

.collapse-section__down {
    top: 63px;
    width: 300px;
    left: 0;
}

.collapse-section__down, .collapse-details-section__down {
    display: none;
    position: fixed;
    border-bottom: 2px solid var(--main-border-color);
    z-index: 3;
}

.collapse-details-section__down {
    top: 50px;
    width: 79.2vw;
    right: 0px;
}

.stores-list__body {
    position: relative;
    width: inherit;
}

.stores-list__body-item {
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
}

.stores-list__body-item:first-child{
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid var(--border-color);
}

.stores-list__body-item:last-child{
    padding: 15px 15px 10px 15px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 39px;
}

.list-company,.list-address {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;   
}

.list-company {
    max-width: 200px; 
}

.stores-list__body-item:hover {
    background: rgba(224, 224, 224, 0.386);
    cursor: pointer;
}

.stores-list__store-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.list-company {
    word-break: break-all;
    font-size: 18px;
}

.list-square {
    position: relative;
}

.list-square::after {
    content: 'sq.m';
    position: absolute;
    bottom: -10px;
    right: 0;
    font-size: 10px;
    color: var(--font-light-color);
}

.list-address {
    font-size: 14px;
    color: var(--font-light-color);
}

.sidebar-list__search-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:30px
}

.details{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x:hidden;
    width: 100%;
}

.details-header {
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 2;
    padding-top: 10px;
    background-color: var(--backgroung-color);
}

.details-header__title {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.details-header__info {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 60%;
    padding: 10px 0px 10px 20px;
    position: relative;
}

.details-header__info-column {
    min-width: 250px;
    display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	height: 48%;
    padding-right: 10px;
    font-size: 14px;
    color: var(--font-light-color);
}

.details-header__info-column > p {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.details-header__info-column > p > span {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    color: var(--font-light-color);
}

.details-header__buttons {
    position: relative;
    display: flex;
    padding: 10px 20px 0px;
    border-top: 2px solid var(--main-border-color);
}

.details-header__buttons > input[type=radio] {
    display: none;
}

.details-header__buttons > input[type=radio]:checked + label{
    border-bottom: 2px solid rgb(78,117,152);
    margin-bottom: -2px;
}

.details-header__button {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding: 10px 15px 25px 0px;
}

.details-header__button.category-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85px;
}

.details-header__button.category-all::after {
    content: " ";
    background: var(--main-border-color);
    width: 2px;
    height: 70px;
    right: -10px;
    position: absolute;
    margin-right: 10px;
}

.details-header__button > span {
    font-size: 32px;
    font-weight:500;
    padding-right: 5px;
}

.details-header__button > img {
    height: 70px;
    width: 70px;
    padding: 10px 10px 5px 10px;
}

.details-header__button > .store-presence {
    position: absolute; 
    top:0; 
    right: 0
}

.details-header__button > .store-category {
    text-transform: capitalize;
}

.details-header__collapse-section {
    display: flex;
    gap: 0.2rem;
    position: absolute;
    top: -10px;
    width: 100%;
    justify-content: center;
}

.details-header__collapse-button {
    padding: 2px 6px;
    border:none;
    border-radius: 3px;
    background-color: var(--main-border-color);
    cursor: pointer;
}

.details-header__collapse-button > img {
    height: 15px;
    width: 15px;
}

.details-body {
    position: relative;
    height: 100vh;
    width: inherit;
}

.details-body__info-wrapper {
    position: relative;
    padding-top: 55px;
    background-color: var(--backgroung-color);
}

.details-body__searchbar {
    position: absolute;
    top: 8px;
    right: 15px;
}

.details-body__input {
    width: 200px;
    padding: 5px 60px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.details-body__input::placeholder {
    font-style: italic;
    font-size: 13px;
}

.details-body__input-search {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.details-body__input-clear{
    display: none;
    height: 19px;
    width: 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.details-body__search-active {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    filter: invert(45%) sepia(15%) saturate(1806%) hue-rotate(199deg) brightness(98%) contrast(107%);
    cursor: pointer;
}

.details-body__table {
    table-layout: fixed;
    width: 97%;
    text-align: left;
    font-size: 14px;
    border-collapse: collapse;
    margin: 20px 20px 40px;
}

tbody > tr > td {
    padding: 15px 10px;
    border-bottom: 1px solid var(--border-color);
    font-size:1rem;
}

tbody > tr > td:not(:nth-child(2),:nth-child(7)){
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.table-titles__name > p {
    white-space: pre-wrap; 
}

tbody > tr:hover {
    background: rgba(224, 224, 224, 0.386);
}

.details-body__table > caption {
    position: relative;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 5px;
    background-color: rgb(242, 240, 240);
    border-bottom: 1px solid var(--border-color);
}

.details-body__table > thead {
    position: sticky;
    top: 0px;
}

.details-body__table > tr {
    border-bottom: 1px solid var(--border-color);
}

.details-body__table-titles > th {
    padding: 7px;
    background-color: rgb(242, 240, 240);
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.details-body__table-titles > :nth-child(1) {
    width: 18%;
}

.details-body__table-titles > :nth-child(2) {
    width: 8%;
}

.details-body__table-titles > :nth-child(3) {
    width: 13%;
}

.details-body__table-titles > :nth-child(4) {
    width: 13%;
}

.details-body__table-titles > :nth-child(5) {
    width: 13%;
}

.details-body__table-titles > :nth-child(6) {
    width: 13%;
}

.details-body__table-titles > :nth-child(7) {
    width: 15%;
}
.details-body__table-titles > :nth-child(8) {
    width: 7%;
}

.details-body__table-tbody > tr > td:nth-child(1) {
    font-weight: bold;
}

.details-body__table-title {
    display: flex;
    flex-direction: row;
}

.details-body__sort-button {
    padding: 0px 10px 0px 5px;
    margin-right: 6px;
    cursor: pointer;
    border: none;
    background-color: rgb(242, 240, 240);
    background-image: url(img/sort-all.svg);
}

.details-body__sort-down {
    padding: 0px 10px 0px 5px;
    margin-right: 6px;
    cursor: pointer;
    border: none;
    background-color: rgb(242, 240, 240);
    background-image: url(img/sort-down.svg);
}

.details-body__sort-up {
    padding: 0px 10px 0px 5px;
    margin-right: 6px;
    cursor: pointer;
    border: none;
    background-color: rgb(242, 240, 240);
    background-image: url(img/sort-down.svg);
    transform: rotate(180deg);
}

.product-buttons{
    display: flex;
    flex-direction: row;
    white-space: nowrap; 
    overflow:visible; 
}

.product-buttons > img {
    height: 15px;
    width: 15px;
    margin: 5px;
    cursor: pointer;
}

.wrapper {
    width: 100%;
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.wrapper-header {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--main-border-color);
    padding: 5px;
    background-color: var(--backgroung-color);
}

.wrapper-header > h1 {
    font-weight: normal;
    font-size: 16px;
}

.wrapper-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-body > img {
    height: 70px;
    width: 70px;
}

.wrapper-body > h2 {
    padding: 10px;
    font-weight: normal;
}

.container-footer {
    position: fixed;
    display: flex;
    gap: 1rem;
    bottom:5px;
    left: 5px;
    right: 5px;
    z-index: 3;
}

.stores-list__footer {
    background-color: rgba(67, 79, 91, 90%);
    min-width: 285px;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex: none;
}

.stores-list__footer > button {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(67,79,91);
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px 7px 3px 5px;
    color: white;
    font-size: 12px;
    cursor: pointer; 
}

.stores-list__footer-icon {
    background: url(img/plus.svg) no-repeat top left;    
    background-size: contain;
    cursor: pointer;  
    display: inline-block;
    height: 15px;   
    width: 15px;
    margin-right: 2px;
}

.details-footer {
    background-color: rgba(67, 79, 91, 90%);
    width: 78.5vw;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.details-footer > button{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(67,79,91);
    border: 1px solid white;
    border-radius: 2px;
    padding: 3px 7px 3px 5px;
    color: white;
    font-size: 12px;
    cursor: pointer; 
}

.details-footer > :nth-child(2){
    border: 1px solid #b51a00;
    color: #b51a00;
}

.details-footer__icon-create {
    background: url(img/plus.svg) no-repeat top left;    
    background-size: contain;
    cursor: pointer;  
    display: inline-block;
    height: 15px;   
    width: 15px;
    margin-right: 2px;
}

.details-footer__icon-delete {
    background: url(img/delete.svg) no-repeat top left;    
    background-size: contain;
    cursor: pointer;  
    display: inline-block;
    height: 15px;   
    width: 15px;
    margin-right: 4px;
}

.details-footer > button:not(:last-child) {
    margin-right: 5px;
}

.rating-stars {
	display: inline-block;
	font-size: 0;
}
.rating-stars span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-stars > span:before {
	content: '★';
}
.rating-stars > span.active-star {
	color: gold;
}

.store-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
}

.store-popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 10px 0px 0px 0px;
    border: 1px solid #888;
    width: 350px;
}

.store-popup__content > h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.store-popup__inputs {
    margin-top: 15px;
    padding: 0px 20px;
    width: 350px;
}

.store-popup__inputs > label {
    display: block;
    margin-bottom: 5px;
}

.store-popup__inputs > input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.store-popup__inputs > input::placeholder {
    font-style: italic;
}

.store-popup__footer {
    background-color: var(--popup-footer-color);
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.store-popup__footer > button {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--popup-footer-color);
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 12px;
    cursor: pointer; 
}

.store-popup__footer > button:hover {
    background-color: rgb(74, 165, 210);
}

.store-popup__button-create {
    margin-right: 7px;
}

.products-popup, .product-popup__edit-product {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; 
}

.products-popup__content, .edit-product__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 10px 0px 0px 0px;
    border: 1px solid #888;
    width: 350px;
}

.products-popup__content > h2, .edit-product__content > h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.products-popup__inputs, .edit-product__inputs {
    margin-top: 15px;
    padding: 0px 20px;
    width: 350px;
}

.products-popup__inputs > label, .edit-product__inputs > label {
    display: block;
    margin-bottom: 5px;
}

.products-popup__inputs > input[class="products-popup__specs"], .edit-product__inputs > input[class="edit-product__specs"] {
    padding: 5px 5px 20px 5px;
}

.products-popup__inputs > input, .edit-product__inputs > input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.products-popup__inputs > select, .edit-product__inputs > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    border: 0.1px solid #888;
    border-radius: 0;
    outline: none;
    width: 100%;
    padding: 5px 15px 5px 5px;
    margin-bottom: 10px;
    background-image: url('img/arrow-down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.products-popup__input-price > input, .edit-product__input-price > input {
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.products-popup__inputs > input::placeholder, 
.products-popup__input-price > input::placeholder,
.edit-product__inputs > input::placeholder,
.edit-product__input-price > input::placeholder {
    font-style: italic;
}

.products-popup__footer, .edit-product__footer {
    background-color: var(--popup-footer-color);
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.products-popup__footer > button, .edit-product__footer > button {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--popup-footer-color);
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    color: white;
    font-size: 12px;
    cursor: pointer; 
}

.products-popup__footer > button:hover, .edit-product__footer > button:hover {
    background-color: rgb(74, 165, 210);
}

.products-popup__button-create, .edit-product__button-edit {
    margin-right: 7px;
}

.products-popup__delete-shop,.products-popup__delete-product {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.delete-shop__content,.delete-product__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 10px 0px 0px 0px;
    border: 1px solid #888;
    width: 350px;
}

.delete-shop__title,.delete-product__title {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);
}

.delete-shop__body,.delete-product__body {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

.delete-shop__footer,.delete-product__footer{
    border-top: 1px solid var(--border-color) ;
    padding: 10px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.delete-shop__footer > button,.delete-product__footer > button {
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    font-size: 12px;
    cursor: pointer; 
}

.delete-shop__confirm-btn,.delete-product__confirm-btn {
    background-color: var(--popup-footer-color);
    color: white;
    border: none;
    margin-right: 7px;
}

.delete-shop__cancel-btn,.delete-product__cancel-btn {
    background-color: white ;
    color: var(--popup-footer-color);
    border: 1px solid var(--popup-footer-color);
}

.delete-shop__cancel-btn:hover{
    background-color: rgb(228, 228, 228);
}

.product-popup__delete-successful,.store-popup__delete-successful, .product-popup__edit-successful {
    display: none;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--popup-footer-color);
    text-align: center;
    color: white;
    padding: 15px 10px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 200px;
}

.error-msg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000; 
}

.error-msg__body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    color: rgb(83, 137, 229);
    width: 300px;
}

.error-msg__body > h2 {
    font-weight: normal;
    font-size: 20px;
    padding: 10px 0px;
    border-bottom: 2px solid var(--error-color);
}

.error-msg__body > p {
    text-align: center;
    color: #000;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.error-msg__body > button {
    float: right;
    background-color: white;
    color: rgb(74, 133, 161);
    border: 1px solid var(--popup-footer-color);
    border-radius: 2px;
    padding: 5px 15px 5px 15px;
    margin: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer; 
}

.error-msg__body > button:hover {
    background-color: var(--popup-footer-color);
    color: white;
}

.js-store-active {
    background-color: rgb(185, 222, 240);
}

.js-hidden { 
    display: none;
}

.is-visible{
    display: block;
}

.is-hidden{
    display: none;
}

.invalid {
    border: 2px solid var(--error-color);
}

.error {
	border-color: var(--error-color);
}

@media (max-width: 900px) {
    .stores-list {
        display: none;
    } 
    .stores-list__footer {
        display: none;
    }
    .details-header{
        width: 100%;
    }
}